* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  padding: 0.5em 1em;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
select,
textarea {
  padding: 0.5em 1em;
}

textarea {
  resize: none;
}

.form {
  background-color: #fff;
}

.box {
  border-radius: 0.3rem;
  box-shadow: 0 0 5px #000;
  padding: 0.8rem;
}

.counter,
.label {
  position: absolute;
  background-color: #fff;
  padding: 2px;
  font-size: 0.8rem;
}

#root {
  max-width: 1400px;
  margin: 0 auto;
}
